<h2><%= @restaurant.name %> details</h2>

<%= @restaurant.address %>
<%= @restaurant.phone_number %>

<% @restaurant.reviews.each do |review| %>
 <p><%= review.content %> - <%= link_to "Destroy review", review_path(review), method: :delete %> </p>
<% end %>

<%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>
